variables:
  buildConfiguration: 'Release'
  netSdkVersion: '10.x'

jobs:
- job: BuildAndRunCodeAnalysis
  displayName: Build and run code analysis
  pool:
    vmImage: windows-latest
  steps:
  - task: DotNetCoreCLI@2
    displayName: Build solution with code analysis
    inputs:
      command: build
      projects: '**\*.slnx'
      arguments: -c $(buildConfiguration) -warnaserror

- job: RunTestsVisual
  displayName: Run tests visual
  pool:
    vmImage: windows-latest
  steps:
  - task: UseDotNet@2
    displayName: Set up .NET SDK
    inputs:
      version: $(netSdkVersion)
  - task: DotNetCoreCLI@2
    displayName: Build solution
    inputs:
      command: build
      projects: '**\*.slnx'
      arguments: -c $(buildConfiguration) -p:RunAnalyzers=false
  - task: DotNetCoreCLI@2
    displayName: Run tests
    timeoutInMinutes: 10
    continueOnError: true
    inputs:
      command: test
      projects: '**\*Tests.csproj'
      arguments: -c $(buildConfiguration) -s "azure-pipelines.runsettings" --no-build
  - task: PublishPipelineArtifact@1
    displayName: Publish test results
    inputs:
      artifactName: Visual test results
      targetPath: test/Atata.KendoUI.Tests/bin/$(buildConfiguration)/net10.0/artifacts

- job: RunTestsHeadless
  displayName: Run tests headless
  pool:
    vmImage: windows-latest
  steps:
  - task: UseDotNet@2
    displayName: Set up .NET SDK
    inputs:
      version: $(netSdkVersion)
  - task: DotNetCoreCLI@2
    displayName: Build solution
    inputs:
      command: build
      projects: '**\*.slnx'
      arguments: -c $(buildConfiguration) -p:RunAnalyzers=false
  - task: DotNetCoreCLI@2
    displayName: Run tests
    timeoutInMinutes: 10
    continueOnError: true
    inputs:
      command: test
      projects: '**\*Tests.csproj'
      arguments: -c $(buildConfiguration) -s "azure-pipelines.headless.runsettings" --no-build
  - task: PublishPipelineArtifact@1
    displayName: Publish test results
    inputs:
      artifactName: Headless test results
      targetPath: test/Atata.KendoUI.Tests/bin/$(buildConfiguration)/net10.0/artifacts
