@page
@{
    ViewBag.Title = "CheckBox";
}
<li>
    <input type="checkbox" id="regular" class="k-checkbox" checked="checked">
    <label class="k-checkbox-label" for="regular">Regular</label>
</li>
<li>
    <input type="checkbox" id="disabled-checked" class="k-checkbox" checked="checked" disabled="disabled">
    <label class="k-checkbox-label" for="disabled-checked">Disabled Checked</label>
</li>
<li>
    <input type="checkbox" id="disabled-unchecked" class="k-checkbox" disabled="disabled">
    <label class="k-checkbox-label" for="disabled-unchecked">Disabled Unchecked</label>
</li>
