@page
@{
    ViewBag.Title = "RadioButton";
}
<li>
    <input type="radio" name="radios" id="regular" class="k-radio">
    <label class="k-radio-label" for="regular">Regular</label>
</li>
<li>
    <input type="radio" name="radios" id="disabled-checked" class="k-radio" disabled checked>
    <label class="k-radio-label" for="disabled-checked">Disabled Checked</label>
</li>
<li>
    <input type="radio" name="radios" id="disabled-unchecked" class="k-radio" disabled>
    <label class="k-radio-label" for="disabled-unchecked">Disabled Unchecked</label>
</li>
