@page
@{
    ViewBag.Title = "DatePicker";
}
<label for="regular">Regular</label>
<input id="regular" />

<label for="using-date-input">Using Date Input</label>
<input id="using-date-input" />

<label for="using-date-input-with-value">Using Date Input With Value</label>
<input id="using-date-input-with-value" value="2.11.1988" />

<br />
<br />

<label>
    Disabled
    <input id="disabled" value="10/10/2000" />
</label>

<label>
    Read Only
    <input id="readonly" value="7/20/2005" />
</label>

<script>
    $(function () {
        $('#regular').kendoDatePicker({
            format: "MM/dd/yyyy"
        });

        $("#using-date-input").kendoDatePicker({
            format: "dd-MM-yyyy",
            dateInput: true
        });

        $("#using-date-input-with-value").kendoDatePicker({
            format: "d.M.yyyy",
            dateInput: true
        });

        $('#disabled').kendoDatePicker().data('kendoDatePicker').enable(false);

        $('#readonly').kendoDatePicker().data('kendoDatePicker').readonly();
    });
</script>
